.title_line {
  display: flex;
  gap: 25px;
  padding-top: 30px;

  h2 {
    flex: 1;
  }
}

.main_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  height: fit-content;
  padding-top: 15px;

  .left {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
  }

  .right {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 2fr 1fr;
    grid-column: 2 / 4;
    column-gap: 25px;

    a {
      color: #64a2ad;
    }

    .r_image {
      img {
        outline: 1px solid white;
        outline-offset: 4px;
      }
    }

    .upper_p {
      color: #64a2ad;
    }

    .l_lower {
      padding-left: 13px;
    }

    .r_lower,
    .l_lower {
      display: grid;
      row-gap: 5px;
    }
  }
}

.bottom_btns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 25px;
  padding-top: 15px;
  :last-child {
    float: right;
    margin-right: 13px;
  }
  .view_all {
    background-color: #a3a3a3;
    border: 0.3px solid #747474;
    width: 70px;
    border-radius: 3px;
    padding: 7px auto 5px;
    font-weight: bold;
  }
}
