.about_us {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  gap: 25px;

  .left {
    padding-top: 40px;

    &_up {
      display: flex;
      gap: 25px;
      padding-top: 12px;
    }

    &_med {
      padding-top: 40px;

      p {
        padding-top: 12px;
      }
    }

    &_bottom {
      display: flex;
      justify-content: space-between;
      padding: 30px 5px 20px 20px;
    }

    &_btn {
      float: right;
    }
  }

  .right {
    padding-top: 40px;

    &_up {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 12px;

      .right_btn {
        margin-left: auto;
        margin-right: 0;
        width: max-content;
      }
    }

    &_bottom {
      p {
        padding: 0 10px;
      }

      .steven {
        color: #64a2ad;
      }
    }
  }
}
