.about_us {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  gap: 25px;

  .left {
    padding-top: 40px;

    &_up {
      display: flex;
      gap: 25px;
      padding-top: 12px;
    }

    &_med {
        padding-top: 40px;

        p {
            padding-top: 12px;
        }
    }

    &_bottom {
        display: flex;
        justify-content: space-between;
        padding: 30px 5px 20px 20px;
    }
  }

  .right {
    background-color: blue;
  }
}
